<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Авторы</h1>
    <br>

    <div class="container" th:each="author : ${authors}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" th:text="'Id: ' + ${author.id}"></h5>
              <h3 class="card-text" th:text="'Имя: ' + ${author.name}"></h3>
              <p class="card-text" th:text="'Страна: ' + ${author.country}"></p>
              <p class="card-text" th:text="'Биография: ' + ${author.biography}"></p>
            </div>
        </div>
        <br>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>